html, body {
	margin: 0;
	width: 100%;
}

tbody {
	color: grey;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	opacity: .65;
	filter: alpha(opacity = 65);
	-moz-opacity: .65;
	z-index: 100;
	display: none;
}

* {
	font-family: sans-serif;
}

a {
	cursor: pointer;
}

.btn-xs {
	font-size: 12px;
	padding: 2px 12px 2px 12px;
}

.btn-sm {
	font-size: 14px;
	padding: 5px 15px 5px 15px;
}

.btn-md {
	font-size: 16px;
}

.btn-lg {
	font-size: 20px;
	padding: 10px 25px 10px 25px;
}

.btn-info-toms {
	
}
/*MItosis Timesheet*/
.txtarea{
	margin-top:-20px;
}
.padd-wb{
	padding: 10px 180px 10px 180px ! important;
}
.whitebox{ 
	width: 100%; 
	background-color: #FFFFFF; 
	height: auto; 
	padding: 20px; box-shadow: 0px 0px 2px rgba(0,0,0,0.2); 
	border-radius: 3px; 
	margin: 10px 0px; 
	float: left;
}.textleft{text-align: left ! important;}
.textleft > span{float: right;}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	color: white; font-weight: bold; background: none; font-size: 18px;	
}
.navbar-inverse .navbar-nav a:hover{
	font-size: 16px; font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a{
	color: white;
}
.navbar-inverse .navbar-toggle {
border: none;
}
.navbar-toggle {
	margin-top: 17px;
}
.navbar-nav {
margin: 2px 40px;
}
.dropdown-menu>li>a{color: white;}
.navbar-nav>li>.dropdown-menu>li>a:hover{color: grey;}
.navbar-nav>li>.dropdown-menu{background: grey;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	z-index: 1;
}
.alert-msg{
 	text-align: center; margin-left: 15%; display: block; width: 70%; display: none;
 }
.alert-msg1{
 	text-align: center; margin-left: 15%; display: block; width: 70%; display: none;
 }
 .alert-success{
 	height: 28px; font-size: 20px; border-radius: 10px;
 }
 .alert-danger{
 	height: 28px; font-size: 20px; border-radius: 10px;
 }
 

.thead-mit-ts {
	color: whitesmoke;
	background: gray;
}

.ts-form {
	margin-top: 50px;
	margin-left: 2%;
	margin-bottom: 50px;
	float: left;
	width: 100%;
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.ts-form-div {
	width: 100%;
	margin: 35px 0px 35px 0px;
	word-spacing: 5px;
}
.level-form-div {
	width: 100%;
	margin: 35px 0px 35px 0px;
	word-spacing: 5px;
}
.level-form-div .form-inline .form-control{
	width: 170px;
}
.btn-formproject {
	word-spacing: 0;	
}
.btn-formempdet{
			word-spacing: 0px;
}
.project-form-div {
	margin: 35px 0px 35px 0px;
	word-spacing: 10px;
}
.teamassgn-form-div {
	margin: 35px 0px 35px 0px;
	word-spacing: 35px;
}

.pagination-sm {
	float: right;
	margin-top: 5px;
	margin-right: 50px;
}

.table {
	border-bottom: 1px solid gainsboro;
	table-layout: fixed;
white-space: nowrap;
}

.table th {
	text-align: left;
	width: 110px;
}

.table tbody td {
	text-align: left;
	 white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-tab{
	padding: 15px; float: right; width: 270px;
}
.select{
	color: #9e9e9e;
}
.mitosis_ts {
	border: 2px solid gray;
}
.btn-success-ts {
	background: #0FDA9A;
	border-radius: 2px;
	padding: 10px;
}
.btn-danger-ts {
	background: #9e2f2f;
	border-radius: 2px;
	padding: 10px;
}
.btn-primary-ts {
	background: #30699E;
	border-radius: 2px;
	padding: 10px;
}
.btn-warning-ts {
	background: #FF9900;
	border-radius: 2px;
	padding: 10px;
}
.form-inline .form-group {
	margin-bottom: 15px;
}
.logo {
	padding: 8px 0 8px 0px;
	float: left;
}
.top-fixed {
	width: 100%;
	height: 80px;
}
.lb-username {
	font-size: 18px;
	margin-top: 20px;
	margin-right: 30px;
	position: relative;
}
.btn-logout {
	margin-top: 15px;
}
.account th, .account td { 
     border-top: none !important;
     border-bottom: none !important; 
 }
 .account tbody td{
 	 text-align: left;
 }
 .label-td{
 	width: 25%;
 }
 .edit-profile{
 	 display: none;
 }
 .btn-profile-save{
 	 display: none;
 }
 .profile-value{
 	 padding-top: 7px;		
 }
 .btn-profile-edit{
 	
 }
 .btn-profile-cancel{
 	display: none;	
 }
.btn-profile-edit{
 	
 }

 a .glyphicon{
 	padding-left: 10px;
 }

@media ( max-width : 450px) {
	h2 {
		margin-left: 10%;
	}
}

@media ( min-width : 767px) {
	
	h3 {
		float: left;
		color: gray;
	}
	.project-form-div>.form-inline .form-control{
		width: 134px;
	}
}

@media (max-width: 767px){
	 .jtr .cp {
		right: 60px ! important;
	}
}

@media (max-width: 840px){
 	.alert-msg{
 	margin: auto;
 }
 .alert-msg1{
 	margin: auto;
 }
 }
 
@media (max-width: 845px){
	.nav> li.lb-username{
		display: none;
	}
	.nav> li>.btn-logout{
		margin-top: 0;
		margin-bottom: 3px;
		margin-left: 0;
	}	
	
}
@media ( min-width : 1040px) {
	.btn-formproject{
			float: right;
	}
	.form-inline .date{
			width: 115px; 
	}
	.form-inline .hour{
			width: 115px; 
	}
	.form-inline .projectdet-form{
			width: 312px;
	}
	
	}

@media ( min-width : 800px) {	
	.navbar-nav{
		margin: 2px 0px;
	}
}


.fg-btn, input[type="submit"].fg-btn, input[type="button"].fg-btn {
	font-family: "proxima_nova_rgregular", sans-serif;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none !important;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: pointer;
	text-align: center;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	outline: none;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-radius: 5px;
}

.fg-btn.tt-none, input[type="submit"].fg-btn.tt-none, input[type="button"].fg-btn.tt-none
	{
	text-transform: none;
}

.fg-btn.mr, input[type="submit"].fg-btn.mr, input[type="button"].fg-btn.mr
	{
	margin-right: 8px;
}

.fg-btn.mr-plus, input[type="submit"].fg-btn.mr-plus, input[type="button"].fg-btn.mr-plus
	{
	margin-right: 16px;
}

.fg-btn.mt, input[type="submit"].fg-btn.mt, input[type="button"].fg-btn.mt
	{
	margin-top: 22px;
}

.fg-btn.bold, input[type="submit"].fg-btn.bold, input[type="button"].fg-btn.bold
	{
	font-family: "proxima_novasemibold", sans-serif;
}

.fg-btn.large, input[type="submit"].fg-btn.large, input[type="button"].fg-btn.large
	{
	font-size: 18px;
	padding: 16px 25px 13px;
}

.fg-btn.medium, input[type="submit"].fg-btn.medium, input[type="button"].fg-btn.medium
	{
	font-size: 15px;
	padding: 11px 26px 9px;
}

.fg-btn.small, input[type="submit"].fg-btn.small, input[type="button"].fg-btn.small
	{
	font-size: 14px;
	padding: 9px 10px 7px;
}

.fg-btn.group-left, input[type="submit"].fg-btn.group-left, input[type="button"].fg-btn.group-left
	{
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #2477bf;
}

.fg-btn.group-left.medium, input[type="submit"].fg-btn.group-left.medium,
	input[type="button"].fg-btn.group-left.medium {
	padding: 11px 11px 9px;
}

.fg-btn.group-right, input[type="submit"].fg-btn.group-right, input[type="button"].fg-btn.group-right
	{
	border-radius: 0 5px 5px 0;
}

.fg-btn.group-right.inline, input[type="submit"].fg-btn.group-right.inline,
	input[type="button"].fg-btn.group-right.inline {
	margin-left: -4px;
}

.fg-btn.group-right.medium, input[type="submit"].fg-btn.group-right.medium,
	input[type="button"].fg-btn.group-right.medium {
	padding: 11px 11px 9px;
}

.fg-btn.group-right.loading img, .fg-btn.group-right.success img, input[type="submit"].fg-btn.group-right.loading img,
	input[type="submit"].fg-btn.group-right.success img, input[type="button"].fg-btn.group-right.loading img,
	input[type="button"].fg-btn.group-right.success img {
	opacity: 0;
}

.fg-btn.block, .fg-flat-btn.block {
	display: block;
}

.fg-btn.inline, .fg-flat-btn.inline {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.fg-flat-btn.tt-none {
	text-transform: none;
}

.fg-flat-btn.mr {
	margin-right: 8px;
}

.fg-flat-btn.mr-plus {
	margin-right: 16px;
}

.fg-flat-btn.mt {
	margin-top: 22px;
}

.fg-flat-btn.bold {
	font-family: "proxima_novasemibold", sans-serif;
}

.fg-btn.blue {
	position: relative;
	background-color: #425656;
	color: white;
	border-bottom-color: #425656;
}

.fg-btn.blue:hover {
	background-color: #6D7C7C;
}

.fg-btn.blue:active {
	border-bottom-color: #1cd2ff;
	transition: border-bottom .1s linear;
}

.fg-btn.blue.loading {
	color: #1bc7f2;
}

.fg-btn.blue.loading:before {
	content: url("../images/blueloader.gif");
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}

.fg-btn.blue.loading:hover {
	background-color: #1bc7f2;
}

.fg-btn.blue.success {
	color: #1bc7f2;
}

.fg-btn.blue.success:before {
	font-family: "icomoon";
	font-size: 20px;
	content: "\e665";
	color: #2477bf;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}

.fg-btn.blue.success:hover {
	background-color: #71b02f;
}

.disable {
	color: white;
	background-color: #bdc3c7;
	border-color: #bdc3c7;
	cursor: not-allowed;
}

.disable:hover {
	color: white;
}

.fg-btn.green {
	position: relative;
	background-color: #71b02f;
	color: white;
	border-bottom-color: #4d8118;
}

.fg-btn.green:hover {
	background-color: #7fc435;
}

.fg-btn.green:active {
	border-bottom-color: #7fc435;
	transition: border-bottom .1s linear;
}

.fg-btn.green.loading {
	color: #71b02f;
}

.fg-btn.green.loading:before {
	content: url("../images/greenloader.gif");
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}

.fg-btn.green.loading:hover {
	background-color: #71b02f;
}

.fg-btn.green.success {
	color: #71b02f;
}

.fg-btn.green.success:before {
	font-family: "icomoon";
	font-size: 20px;
	content: "\e665";
	color: #4d8118;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}

.fg-btn.green.success:hover {
	background-color: #71b02f;
}

.fg-btn.tealblue {
	background-color: #cfe9f7;
	color: #114058;
	border-bottom-color: #3b6e87;
}

.fg-btn.tealblue:hover {
	background-color: #ebf8ff;
}

.fg-btn.tealblue:active {
	border-bottom-color: #ebf8ff;
	transition: border-bottom .1s linear;
}

.fg-btn.orange {
	background-color: #f0ad4e;
	color: white;
	border-bottom-color: #e68d10;
}

.fg-btn.orange:hover {
	background-color: #ffb752;
}

.fg-btn.orange:active {
	border-bottom-color: #ffb752;
	transition: border-bottom .1s linear;
}

.fg-btn.red {
	background-color: #d9534f;
	color: white;
	border-bottom-color: #bb221c;
}

.fg-btn.red:hover {
	background-color: #ff615c;
}

.fg-btn.red:active {
	border-bottom-color: #ff615c;
	transition: border-bottom .1s linear;
}

.fg-btn.grey {
	background-color: #e7e7e7;
	color: #737171;
	border-bottom-color: #bbbbbb;
}

.fg-btn.grey:hover {
	background-color: #eeeeee;
}

.fg-btn.grey:active {
	border-bottom-color: #eeeeee;
	transition: border-bottom .1s linear;
}

.fg-flat-btn, input[type="submit"].fg-flat-btn, input[type="button"].fg-flat-btn
	{
	font-weight: normal;
	font-family: "proxima_nova_rgregular", sans-serif;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none !important;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
}

.fg-flat-btn.grey, input[type="submit"].fg-flat-btn.grey, input[type="button"].fg-flat-btn.grey
	{
	color: #737171;
	border: 1px solid #bbbbbb;
	background-color: #f4f4f4;
}

.fg-flat-btn.grey:hover, input[type="submit"].fg-flat-btn.grey:hover,
	input[type="button"].fg-flat-btn.grey:hover {
	background-color: #e8e8e8;
}

.fg-flat-btn.grey:active, input[type="submit"].fg-flat-btn.grey:active,
	input[type="button"].fg-flat-btn.grey:active {
	background-color: #f4f4f4;
}

.fg-flat-btn.large {
	font-size: 18px;
	padding: 16px 25px 13px;
}

.fg-flat-btn.medium {
	font-size: 15px;
	padding: 11px 26px 9px;
}

.fg-flat-btn.small {
	font-size: 14px;
	padding: 9px 10px 7px;
}

.block {
	display: block;
}

.fg-fw {
	width: 100%;
}

.fg-row {
	line-height: 1;
	margin-bottom: 30px;
}

.fg-row.last {
	margin-bottom: 0;
}

.fg-elem-row {
	margin-bottom: 12px;
}

.fg-elem-row.last {
	margin-bottom: 0;
}

.fg-box {
	border: 1px solid #c3ecf8;
	box-shadow: 0 2px 0 #e2f8ff;
	margin-bottom: 36px;
}

.fg-box .fg-box-header {
	margin: 0;
	background: #e4f3f6;
	font-size: 15px;
	font-family: "proxima_novasemibold", sans-serif;
	color: #1d4c55;
	text-transform: uppercase;
	line-height: normal;
	padding: 14px 0 13px;
	min-height: 45px;
}

.fg-box .fg-box-header .switch {
	background: none;
	right: 5px;
	top: 9px;
}

.fg-box .fg-box-close {
	float: right;
	margin-top: -2px;
	margin-right: -10px;
	font-size: 20px;
}

.fg-box .fg-inner-box {
	padding-top: 22px;
	padding-bottom: 22px;
}

.fg-box .rl-pad {
	padding-right: 22px;
	padding-left: 22px;
}

.fg-box.first {
	margin-top: 36px;
}

.fg-box.last {
	margin-bottom: 0;
}

.fg-label {
	color: #333333;
	font-family: "proxima_novasemibold", sans-serif;
	font-size: 16px;
	line-height: 1;
}

.fg-label.inline-label {
	margin-top: 14px;
	line-height: 24px;
}

.fg-select {
	margin-top: 6px;
	padding: 8px 0 7px;
}

.fg-select.nomargin {
	margin-top: 0;
}

.fg-input, .fg-select, .fg-textarea {
	padding-left: 5px;
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	font-family: "proxima_nova_rgregular", sans-serif;
	font-size: 16px;
	color: #383838;
}

.fg-input:focus, .fg-select:focus, .fg-textarea:focus {
	outline: none;
	border-color: #23b7e5;
	box-shadow: 0 0 1px #23b7e5;
	transition: border-color .3s linear;
}

.fg-input.disable, .fg-select.disable, .fg-textarea.disable {
	background: #eee;
	color: #bbb;
	cursor: not-allowed;
}

.fg-input.error, .fg-select.error, .fg-textarea.error {
	border-color: #d9534f;
	box-shadow: 0 0 1px #ff615c;
	transition: border-color .3s linear;
}


.fg-wrapper {
	margin-bottom: 10px;
}

.fg-wrapper.last {
	margin-bottom: 0;
}

.fg-help {
	font-size: 13px;
	line-height: 18px;
	margin-top: 4px;
	margin-left: 3px;
	margin-bottom: 0;
	color: #aaa;
	display: block;
}

.fg-error-help {
	font-size: 13px;
	line-height: 18px;
	margin-top: 4px;
	margin-left: 3px;
	margin-bottom: 0;
	color: #d9534f;
	display: block;
}

.fg-input-group {
	margin-top: 6px;
	display: inline-block;
}

.fg-input-group .fg-group-left {
	font-size: 16px;
	font-family: "proxima_nova_rgregular", sans-serif;
	display: inline-block;
	margin: 0;
	width: 20%;
	float: left;
	text-align: center;
	line-height: normal;
	padding: 9px 2px 8px 3px;
	background: #eee;
	border: 1px solid #bbbbbb;
	border-right: none;
	border-radius: 2px 0 0 2px;
}

.fg-input-group .fg-group-right {
	font-family: "proxima_nova_rgregular", sans-serif;
	display: inline-block;
	width: 80%;
	float: right;
}

.fg-input-group .fg-group-right.fg-input {
	border-radius: 0 2px 2px 0;
}

.fg-input-group .fg-group-right.fg-input:focus {
	outline: none;
	border-color: #23b7e5;
	box-shadow: 0 0 1px #23b7e5;
	transition: border-color .3s linear;
}

.fg-table {
	border: 1px solid #bbbbbb;
}

.fg-table thead tr {
	background: white;
}

.fg-table tbody tr {
	background: white;
}

.fg-table tbody tr:nth-child(odd) {
	background: #f9f9f9;
}

.fg-table th {
	font-family: "proxima_novasemibold", sans-serif;
}

.fg-table td, .fg-table th {
	line-height: normal;
	padding: 9px 5px 8px 10px;
	text-align: left;
}

.fg-upload-parent {
	position: relative;
	margin-top: 6px;
}

.fg-upload-parent input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 38px;
	cursor: pointer;
}

.fg-upload-parent .fg-input {
	float: left;
	width: 75%;
	border-radius: 2px 0 0 2px;
}

.fg-upload-parent .text, .fg-upload-parent .password {
	margin-top: 0;
}

.fg-upload-parent .fg-upload-btn {
	width: 25%;
	display: inline-block;
	line-height: normal;
	padding: 9px 0 8px 0;
	text-align: center;
	border-radius: 0 2px 2px 0;
	border: 1px solid #bbbbbb;
	border-left: 0;
	background: #dddddd;
	cursor: pointer;
}

.fg-upload-parent .fg-upload-btn .icon-folder {
	font-size: 13px;
	margin-right: 8px;
	color: #666;
}

.fg-image-thumb {
	text-align: right;
	padding-right: 0;
	width: 97px;
	height: 82px;
	margin-left: 9px;
}

.fg-image-thumb .fg-image-holder {
	width: 80px;
	height: 80px;
	display: table-cell;
	vertical-align: middle;
}

.fg-image-thumb .close {
	font-size: 12px;
	text-align: center;
	display: block;
	margin-top: 3px;
	cursor: pointer;
	position: absolute;
	margin-left: 18px;
}

.fg-image-thumb .thumb {
	width: 80px;
	max-height: 80px;
	border: 1px solid #c3ecf8;
}

.switch {
	position: absolute;
	top: 6px;
	right: 0;
	display: inline-block;
	vertical-align: top;
	width: 56px;
	height: 20px;
	padding: 3px;
	border-radius: 18px;
	cursor: pointer;
}

.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px
		rgba(0, 0, 0, 0.15);
	-webkit-transition: 0.15s ease-out;
	-moz-transition: 0.15s ease-out;
	-o-transition: 0.15s ease-out;
	transition: 0.15s ease-out;
	-webkit-transition-property: opacity background;
	-moz-transition-property: opacity background;
	-o-transition-property: opacity background;
	transition-property: opacity background;
}

.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}

.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-input:checked ~ .switch-label {
	background: #47a8d8;
}

.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}

.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 18px;
	height: 18px;
	background: white;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-transition: left 0.15s ease-out;
	-moz-transition: left 0.15s ease-out;
	-o-transition: left 0.15s ease-out;
	transition: left 0.15s ease-out;
}

.switch-handle:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: #f9f9f9;
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked ~ .switch-handle {
	left: 34px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green>.switch-input:checked ~ .switch-label {
	background: #7fc435;
}

.switch-blue>.switch-input:checked ~ .switch-label {
	background: #47a8d8;
}

.fg-callout {
	position: relative;
	padding: 18px 22px;
	margin: 20px 0;
	border-left-width: 4px;
	border-left-style: solid;
}

.fg-callout h2 {
	margin-bottom: 10px;
	font-family: "proxima_novasemibold", sans-serif;
	font-size: 22px;
}

.fg-callout p {
	line-height: 1.5;
	margin: 0;
	color: #454545;
}

.fg-callout .close {
	position: absolute;
	right: 8px;
	top: 8px;
	font-size: 16px;
}

.fg-callout a {
	color: #1f96da;
}

.fg-callout.mt {
	margin-top: 36px;
}

.fg-callout.mb {
	margin-bottom: 36px;
}

.fg-callout.red {
	border-left-color: #d9534f;
	background-color: rgba(217, 83, 79, 0.1);
}

.fg-callout.red .close {
	color: rgba(217, 83, 79, 0.8);
}

.fg-callout.red .close:hover {
	color: #d9534f;
}

.fg-callout.green {
	border-left-color: #71b02f;
	background-color: rgba(113, 176, 47, 0.13);
}

.fg-callout.green .close {
	color: rgba(113, 176, 47, 0.8);
}

.fg-callout.green .close:hover {
	color: #71b02f;
}

.fg-callout.blue {
	border-left-color: #1bc7f2;
	background-color: rgba(25, 187, 228, 0.13);
}

.fg-callout.blue .close {
	color: rgba(25, 187, 228, 0.8);
}

.fg-callout.blue .close:hover {
	color: #19bbe4;
}

.fg-callout.orange {
	border-left-color: #e68d10;
	background-color: rgba(230, 141, 16, 0.13);
}

.fg-callout.orange .close {
	color: rgba(230, 141, 16, 0.8);
}

.fg-callout.orange .close:hover {
	color: #e68d10;
}

.white-overlay {
	position: fixed;
	bottom: 4%;
	right: 2%;
}

@
-webkit-keyframes bouncedelay { 0%, 80%, 100% {
	-webkit-transform: scale(0);
}

40%
{
-webkit-transform:scale(1);
}
}
@
keyframes bouncedelay { 0%, 80%, 100% {
	transform: scale(0);
	-webkit-transform: scale(0);
}

40%
{
transform:scale(1);
-webkit-transform:scale(1);
}
}
/**
 * Paragraph file upload css.
 */


/* #Login Styles
=======================================*/
#auth_wraper, #stripe_wrapper {
	margin: 75px auto 0;
	width: 364px;
	margin-top: 90px;
	text-align: center;
}

#auth_container, #stripe_container {
	position: relative;
	width: 375px;
	margin: 20px auto 0;
	padding: 25px;
	display: inline-block;
	vertical-align: top;
	background: #C9D4D7;
	border-bottom: 2px solid #ccc;
	border-radius: 5px;
	text-align: center;
}

#auth_container h2.signup_heading, #stripe_container h2.signup_heading {
	margin: 0 0 20px 0;
	font-family: "proxima_novasemibold", sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #333;
	padding-top: 8px;
	padding-bottom: 10px;
	margin-left: 25px;
}

#stripe_container .s_number, #stripe_container select, #stripe_container .s_cvc
	{
	width: 93%;
	height: 45px;
	font-size: 19px;
	padding: 0 10px;
	border: none;
	display: block;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
	margin: 8px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
	-ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
	-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
}

#auth_container input[type="text"]:focus, #auth_container input[type="password"]:focus,
	#stripe_container .s_number:focus {
	box-shadow: 0 0px 5px #7ac4fc;
	-moz-box-shadow: 0 0px 5px #7ac4fc;
	-webkit-box-shadow: 0 0px 5px #7ac4fc;
	border: 1px solid #7ac4fc;
}

#stripe_container span.classexpiry {
	font-size: 17px;
	color: #747474;
}

#auth_container ul {
	padding: 0;
	list-style: none;
	margin-bottom: 0;
}

#auth_container ul li {
	margin-left: 0;
	margin-bottom: 8px;
}

#auth_container ul li span {
	font-size: 12px;
	color: #5885c2;
}

#auth_container .submit {
	width: 100% !important;
}
/* Stripe Styles
=======================================*/
#stripe_wrapper {
	width: 364px;
}

#stripe_container {
	width: 400px;
	padding: 0;
}

#stripe_container .pad_wrapper {
	padding: 2px 25px 28px;
}

#stripe_container .ssl_seal {
	line-height: 54px;
	color: #fff;
	font-size: 15px;
	border-radius: 6px 6px 0 0;
	font-weight: 700;
	background-color: #4cb1f1;
}

#stripe_container .ssl_seal .lock_icon {
	height: 20px;
	margin-right: 5px;
	position: relative;
	top: -3px;
}

#stripe_container .stripe_content {
	text-align: left;
}

#stripe_container .s_number {
	width: 212px;
	padding-left: 33px;
	display: inline-block;
	margin-right: 10px;
}

#stripe_container .payment-errors {
	color: red;
}

#stripe_container h2.signup_heading {
	margin-bottom: 20px;
}

#stripe_container select, #stripe_container input, #stripe_container .s_number,
	#stripe_container .s_cvc, #stripe_container .stripe_pay {
	font-size: 17.5px;
}

#stripe_container .s_number, #stripe_container select, #stripe_container .s_cvc
	{
	color: #8d8d8d;
}

#stripe_container select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url('../images/select-arrow.png') 90% no-repeat;
	cursor: pointer;
}

#stripe_container input[type="radio"] {
	position: relative;
	top: 2px;
}

#stripe_container .stripe_pay {
	font-weight: normal;
}

#stripe_container .exp_year {
	width: 80px !important;
	float: left;
	margin-right: 12px;
	background-position: 86%;
}

#stripe_container label {
	font-weight: normal;
	color: #000;
	font-size: 17px;
	margin-right: 5px;
	cursor: pointer;
}

#stripe_container .stripe_offer {
	color: #129bcd;
}

#stripe_container .s_cvc {
	width: 76px !important;
	float: left;
	text-align: center;
}

#stripe_container .stripe_row {
	position: relative;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 11px;
	margin-bottom: 11px;
}

#stripe_container .input_row.ellps {
	float: left;
	margin-right: 12px;
}

#stripe_container .input_row {
	position: relative;
	display: inline-block;
}

#stripe_container .input_row img.input_logo {
	position: absolute;
	left: 11px;
	top: 25px;
}

#stripe_container img.credit_card_logo {
	position: absolute;
	top: 22px;
	right: 5px;
}

#stripe_container .exp_month {
	width: 141px !important;
	padding-left: 28px !important;
}

#stripe_container .radio_row {
	text-align: left;
}

#stripe_container .pay_button {
	width: 100%;
	height: auto;
	display: inline-block;
	-moz-box-shadow: inset 0px 1px 0px 0px #cdff42;
	-webkit-box-shadow: inset 0px 1px 0px 0px #7bdcf4;
	box-shadow: inset 0px 1px 0px 0px #7bdcf4;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #36caf0
		), color-stop(1, #22abe9));
	background: -moz-linear-gradient(top, #36caf0 5%, #7ba30d 100%);
	background: -webkit-linear-gradient(top, #36caf0 5%, #22abe9 100%);
	background: -o-linear-gradient(top, #36caf0 5%, #7ba30d 100%);
	background: -ms-linear-gradient(top, #36caf0 5%, #7ba30d 100%);
	background: linear-gradient(to bottom, #36caf0 5%, #22abe9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6c947',
		endColorstr='#7ba30d', GradientType=0);
	background-color: #36caf0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 4px;
	border: 1px solid #0F799E;
	display: inline-block;
	color: #ffffff;
	font-size: 19px;
	font-weight: bold;
	padding: 7px 16px;
	cursor: pointer;
	text-decoration: none;
	text-shadow: 0px 1px 0px #13506D;
	margin-bottom: 22px;
	margin-top: 12px;
}

#stripe_container .pay_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abe9
		), color-stop(1, #36caf0));
	background: -moz-linear-gradient(top, #7ba30d 5%, #a6c947 100%);
	background: -webkit-linear-gradient(top, #22abe9 5%, #36caf0 100%);
	background: -o-linear-gradient(top, #22abe9 5%, #36caf0 100%);
	background: -ms-linear-gradient(top, #7ba30d 5%, #36caf0 100%);
	background: linear-gradient(to bottom, #22abe9 5%, #36caf0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ba30d',
		endColorstr='#a6c947', GradientType=0);
	background-color: #22abe9;
}

#stripe_wrapper .back_to_pricing {
	display: block;
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 20px;
	color: #7A7979;
}

#stripe_wrapper .back_to_pricing:hover {
	color: #36caf0;
}

#auth_wraper .fg-spinner {
	display: none;
	width: auto;
	background: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -29px;
	margin-top: -16px;
}

#auth_wraper .fg-spinner div {
	background: #327eda;
}

#auth_container #social_login {
	margin-top: 18px;
	padding-bottom: 15px;
}

#auth_container .login_or {
	height: 9px;
	opacity: 0.3;
}

#auth_container #social_login .fb_login, #auth_container #social_login .gg_login
	{
	font-weight: normal;
	font-family: "proxima_nova_rgregular", sans-serif;
	line-height: 1;
	text-align: center;
	text-decoration: none !important;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: pointer;
	text-align: center;
	border: 0;
	border-radius: 5px;
	font-size: 16px;
	padding: 12px 0 12px;
	color: #fff;
	display: inline-block;
	width: 160px;
}

#auth_container #social_login .fb_login {
	background: #385995;
	background: rgba(59, 89, 152, 0.9);
	margin-bottom: 6px;
}

#auth_container #social_login .fb_login:hover {
	background: rgba(59, 89, 152, 1);
}

#auth_container #social_login .gg_login {
	background: #d13e29;
	background: rgba(209, 62, 41, 0.9);
}

#auth_container #social_login .gg_login:hover {
	background: rgba(209, 62, 41, 1);
}

#auth_container .text, #auth_container .password {
	padding: 13px 5px 11px 10px;
}

#auth_container .submit {
	margin-top: 6px;
}

#auth_container .forgot-password, #auth_container .signup-btn {
	text-decoration: none;
	margin-top: 20px;
	font-size: 16px;
}

#auth_container .forgot-password {
	margin-top: 22px;
	color: #4D4B4B;
	text-transform: none;
	float: left;
}

#auth_container .signup-btn {
	float: right;
	font-family: "proxima_novasemibold", sans-serif;
	padding: 3px 15px;
	border-radius: 5px;
	background: #f2f2f2;
	color: #4D4B4B;
	cursor: pointer;
}

#auth_container .signup-btn:hover {
	background: #eee;
}

/*
*
*   Forgot Password Styles
*
*/
#forgot-password .outer-container {
	margin: 90px auto 0;
	width: 375px;
	text-align: center;
}

#forgot-password .outer-container .inner-container {
	position: relative;
	width: 375px;
	margin: 20px auto 0;
	padding: 25px;
	display: inline-block;
	vertical-align: top;
	background: #fff;
	border-bottom: 2px solid #ccc;
	border-radius: 5px;
	text-align: center;
}

#forgot-password .outer-container .resetform_container h1 {
	margin: 0 0 20px 0;
	font-family: "proxima_novasemibold", sans-serif;
	font-size: 19px;
	font-weight: 600;
	background: url('../images/register-divider.png') center bottom
		no-repeat;
	color: #333;
	padding-bottom: 12px;
	line-height: normal;
}

#forgot-password .resetform_container .fg-input.f_email {
	padding: 13px 5px 11px 10px;
}

#forgot-password .resetform_container .fg-help {
	text-align: left;
}

#forgot-password .resetform_container .signin-btn {
	float: right;
	font-family: "proxima_novasemibold", sans-serif;
	margin-top: 30px;
	padding: 3px 15px;
	border-radius: 5px;
	background: #f2f2f2;
	color: #999;
	cursor: pointer;
	text-decoration: none;
}

#forgot-password .resetform_container #error_msg {
	color: red;
}

 .leave-form-div{
	word-spacing: 8px;	
	margin: 35px 0px 35px 0px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	z-index: 1;
}

.pay-form-div{
	text-align: center;
	word-spacing: 40px;
	margin-top: 15px;
	margin-bottom: 30px;
}

#h-show{
	display: none;
}
#hr-show{
	display: none;
}

/*Logout account*/

.jtr .cp {
	cursor:pointer;
	position: fixed;
	top: 7px;
	right: 25px;	
    }
.jtr #acc_opt{
	background-color:#fff;
	border:1px solid #cbcbcb;
	color:#2a54ce;
	line-height:10px;
	padding:1px 0;
	text-align:left;
	width:182px;
	z-index:999;
	background: rgba(255,255,255,.98);
	-webkit-background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #c5c5c5;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	position: absolute;
	top: 63px;
	right: 10px;
	display: none;
  }
.jtr #acc_opt span{
	float:left;
	font-size:17px;
	font-weight:bold;
	padding:7px 5px 7px 15px;
    width:181px;
	color:#141823;
	line-height: 20px;
	font-weight:100;
	border-bottom:solid #d3d7dc 3px;
    text-decoration:none;
	font-family:font-family: Helvetica;
}

.jtr #acc_opt a
{
	float:left;
	font-size:14px;
	font-weight:normal;
	padding:7px 5px 10px 20px;
    width:181px;
	color:#141823;
	position:relative;
    line-height: 20px;
	font-weight:100;
	border-bottom:solid #d3d7dc 1px;
    text-decoration:none;
	font-family:font-family: Helvetica;
}

.jtr #acc_opt a:hover
{
	  background:grey;
	  color: white;
}

.opt
{
	background:url("http://images.jdmagicbox.com/icontent/HP_Header_Sprite.gif")
	no-repeat;display:inline-block;	
	background-position:-3px -89px;
	cursor:pointer;
	height:17px;
	width:20px;
	vertical-align:middle
}
 
