
<div ng-init="list()">
<div class="container" style="margin-top: 6%;"><div class="row"><div class="col-xs-12 col-md-12"><h2 class="text-center">Customer Payment Details</h2></div></div></div>


<form class="" role="form" ng-submit="addPayment(receiptDate,invoiceNumber,receiptNumber,paidAmount,currencyCode)">
<div class="container" style="width: 100%;">
	<div class="form-invoice form-horizontal">
	<div class="row">
	<div class="col-md-4 col-sm-6" >
    <div class="form-group">
      <label class="control-label col-sm-5 textleft">Customer Name<span>:</span></label>
      <div class="col-sm-7">
       <span class="form-control" ng-model="bankReconcile.customer">{{bankReconcile.customer.customerName}}</span> 
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-5 textleft" >Project<span>:</span></label>
      <div class="col-sm-7">          
        <span class="form-control" ng-model="bankReconcile.project">{{bankReconcile.project.projectName}}</span> 
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-5 textleft">Invoice No<span>:</span></label>
      <div class="col-sm-7">          
         <span class="form-control" ng-model="bankReconcile.invoiceNumber">{{bankReconcile.invoiceNumber}}</span>
      </div>
    </div>
    
    </div>
    
 
    
    <div class="col-md-4 col-sm-6">  
    <div ng-init="dates()" class="form-group">
      <label class="control-label col-sm-5 textleft">Invoice Date<span>:</span></label>
      <div class="col-sm-7">
       <span class="form-control">{{bankReconcile.invoiceDateStr}}</span> 
       </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-5 textleft">Paid Status<span>:</span></label>
      <div class="col-sm-7">          
        <span class="form-control">{{bankReconcile.invoiceStatus}}</span> 
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-5 textleft">Invoice Amount<span>:</span></label>
      <div class="col-sm-7">          
        <span class="form-control">{{bankReconcile.invoiceAmount}}</span> 
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
    <div class="form-group">
      <label class="control-label col-sm-5 textleft">Paid So Far<span>:</span></label>
      <div class="col-sm-7">          
        <span class="form-control">{{bankReconcile.paidAmount}}</span> 
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-5 textleft">Balance Amount<span>:</span></label>
      <div class="col-sm-7">          
        <span class="form-control">{{bankReconcile.balanceAmount}}</span> 
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-5 textleft">Currency<span>:</span></label>
      <div class="col-sm-7">          
        <span class="form-control" ng-model="currencyCode">{{bankReconcile.currencyCode}}</span> 
      </div>
    </div>
    </div>
    </div>
     <div class="col-xs-12">
    <h4 class="text-center">Current Payment Information</h4>
    
    <div class="container" style="width: 100%;">
	<div class="pay-form-div form-inline">
    <div class="form-group" style="margin: 0;">
      <input class="form-control" id="repNum" type="text" placeholder="Receipt Number" required ng-model="payment.receiptNumber" ng-blur="receiptCheck()">
    </div>
    <div ng-init="dates()" class="form-group" style="margin: 0;">
       <input type="text" required class="form-control" placeholder="Receipt Date" ui-date="dateOptions" ui-date-format="dd-mm-yy" ng-model="payment.receiptDate">
    </div>
    <div class="form-group" style="margin: 0;">
       <input class="form-control" type="text" placeholder="Amount Paid" required ng-model="payment.paidAmount" onkeypress="return isNumber(event)" ng-blur="zerocheck()">
    </div>
    
    <div class="form-group" style="margin: 0;">        
      <div class=" col-sm-12" style="word-spacing: 15px;">
	    <button type="submit" class="btn btn-primary btn-sm ">Save</button>
	    <button type="button" class="btn btn-primary btn-sm ">Clear</button>
      </div>
    </div>
     
    </div>
    </div>
    </div>
    
    </div>
    
    
</div>
</form>

<div class="container" style="width: 100%;">
<div class="row len_show" style="padding: 20px;">
<span>Show
<select ng-model="numPerPage" >
<option>15</option>
<option>25</option>
<option>35</option>
<option>50</option>
</select> Entries</span></div>
<div class="table-responsive">
<table class="table">
	<thead class="thead-mit-ts">
		<tr>
			<th>Customer</th>
			<th>Project</th>
			<th style="width: 90px;">Invoice No</th>
			<th style="width: 100px;">Invoice Date</th>
			<th style="width: 120px;">Invoice Amount</th>			
			<th>Receipt No</th>
			<th>Receipt Date</th>
			<th>Amount Paid</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="sheet in filteredParticipantsResults ">
			<td>
				<span ng-show="!showEdit">{{sheet.invoiceHdr.project.customer.customerName}}</span>
			<span  ng-show="showEdit"><input class="form-control"  type="text"  ng-model="sheet.invoiceHdr.project.customer.customerName" readonly></span>
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.invoiceHdr.project.projectName}}</span>
			<span  ng-show="showEdit"><input class="form-control"  type="text"  ng-model="sheet.invoiceHdr.project.projectName" readonly></span>
			</td>
			<td>
			<span ng-show="!showEdit">{{sheet.invoiceHdr.invoiceNumber}}</span>
			<span  ng-show="showEdit"><input class="form-control"  type="text"  ng-model="sheet.invoiceHdr.invoiceNumber" readonly></span>
			</td>
			<td>
			<span ng-show="!showEdit">{{sheet.invoiceHdr.invoiceDateStr}}</span>
			<span  ng-show="showEdit"><input class="form-control"  type="text"  ng-model="sheet.invoiceHdr.invoiceDateStr" readonly></span>
			</td>
			<td>
			<span ng-show="!showEdit">{{sheet.invoiceHdr.invoiceAmount}}</span>
			<span  ng-show="showEdit"><input class="form-control"  type="text"  ng-model="sheet.invoiceHdr.invoiceAmount" readonly></span>
			</td>
			<td>
			<span ng-show="!showEdit">{{sheet.receiptNumber}}</span>
			<span  ng-show="showEdit"><input class="form-control"  type="text" ng-model="sheet.receiptNumber"></span>
			</td>
			<td>
			<span ng-show="!showEdit">{{sheet.receiptDateStr}}</span>
			<span  ng-show="showEdit"><input class="form-control"  type="text"  ng-model="sheet.receiptDateStr"></span>
			</td>
			<td>
			<span ng-show="!showEdit">{{sheet.paidAmount}}</span>
			<span  ng-show="showEdit"><input class="form-control"  type="text"  ng-model="sheet.paidAmount"></span>
			</td>
			
			<td style="word-spacing: 15px;">
				<a><span class="glyphicon glyphicon-pencil" ng-click="showEdit = !showEdit" ng-show="!showEdit"></span></a>
				<a><span class="glyphicon glyphicon-remove" ng-click="confirmDelete(sheet.id)" ng-show="!showEdit"></span></a>
				<a><span class="glyphicon glyphicon-ok" ng-click="showEdit = !showEdit;updateReceipt(sheet)" ng-show="showEdit" ng-disabled="checkRequired(sheet);"></span></a>
				<a><span class="glyphicon glyphicon-ban-circle" ng-click="showEdit = !showEdit" ng-show="showEdit"></span></a>
     		</td>
		</tr>
	</tbody>
</table>

<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="numPerPage" class="pagination-sm" boundary-links="true"></pagination>
</div>
</div>
</div>
<div class="alert-msg col-xs-12 col-sm-6" style="margin-left: 23%; margin-top: 0%; display: b"><p class="alert-success"></p></div>
<div class="alert-msg1 col-xs-12 col-sm-6" style="margin-left: 23%; margin-top: 0%;"><p class="alert-danger"></p></div>
