<script type="text/javascript">
    $(document).ready(function() { 	   
        $(".cp").on("click", function(){ 
            $("#acc_opt").toggle();
        });    
    });
    $(document).on("click", function(event){    
    	var $trigger = $(".cp");
        if($trigger !== event.target && !$trigger.has(event.target).length){
            $("#acc_opt").hide();
        } 
    });
    </script>

<div ng-controller="includeController" ng-init="accountList()">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid top-header-fixed">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="logo"><img src="images/logo2.png"></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" ng-controller="HeaderController">
      <ul class="nav navbar-nav" style="margin-left: 30px; margin-top: 8px;">
        <li ng-class="{ active: isActive('/timesheet')}"><a href="{{test}}">Home</a></li>
        <li ng-show="manageFinance" ng-class="{ active: isActive('/finance')}"><a class="dropdown-toggle" data-toggle="dropdown"> Finance<span class="caret"></span></a>
        
        <ul class="dropdown-menu">
            <li><a ui-sref="levelMaster">Monthly Revenue Projection</a></li>
          <li><a ui-sref="company_info">Company Information</a></li>
          <li><a ui-sref="projectCostDetails">Project Cost </a></li>
            <li><a ui-sref="invoice">Invoice</a></li>
          <li><a ui-sref="customer_payment">Receipt</a></li>
          <li><a ui-sref="bankReconcile">Bank Reconcile</a></li> 
          <li><a ui-sref="financeReport">Report</a></li>
       	  </ul>
        </li>
         <li ng-show="manageProject" ng-class="{ active: isActive('/projects')}"><a class="dropdown-toggle" data-toggle="dropdown"> Project<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ui-sref="customerDetails">Customer Details</a></li>
            <li><a ui-sref="project">Project Details</a></li>
          </ul>
        </li>
        <li ng-show="manageTeam" ng-class="{ active: isActive('/teamAssignment')}"><a ui-sref="teamAssignment">Team Assignment</a></li>
          <li ng-show="manageEmployees" ng-class="{ active: isActive('/HR')}"><a class="dropdown-toggle" data-toggle="dropdown"> HR<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ui-sref="employeeMaster">Employee Master</a></li>
            </ul>
            </li>
         <li ng-show="recpt" ng-class="{ active: isActive('/reports')}"><a class="dropdown-toggle" data-toggle="dropdown"> Reports<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ui-sref="individualreport">Individual Reports</a></li>
            <li><a ui-sref="teamreport">Team Reports</a></li>
             
          </ul>
        </li>
           <li ng-show="leavereportlist" ng-class="{ active: isActive('/leaveReport')}"><a ui-sref="leavereport">Leave Report</a></li>
        </ul>
      
    </div>
    <section class="jtr">
		<span class="cp">
		<img class="opt" style="height: 55px; width: 55px; border-radius: 50%;" src="images/profile/{{name}}.jpg"></img></span> 
		<section id="acc_opt">
		<span ng-model="name">{{name}}</span>
		<a ui-sref="account">Account</a>
		<a ng-click="logout();">Logout</a>
		</section></section>
  </div>
</nav>
</div>