<script>
	
	$('#issue_cheque select[name="select-type"]').change(function () {
		
		if($('#issue_cheque select[name="select-type"] option:selected').val() == 'others'){
            $('.otherexpense').show();
        }
		else{
			$('.otherexpense').hide();
		}
      
    });
</script>
<div ng-init="list()">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid top-header-fixed">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="logo"><img src="images/logo2.png"></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" ng-controller="HeaderController">
      <ul class="nav navbar-nav" style="margin-left: 30px; margin-top: 8px;">
        <li ng-class="{ active: isActive('/timesheet')}"><a ui-sref="timesheet">Home</a></li>
         <li ng-show="manageFinance" ng-class="{ active: isActive('/finance')}"><a class="dropdown-toggle" data-toggle="dropdown"> Finance<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ui-sref="levelMaster">Monthly Revenue Projection</a></li>
           <li><a ui-sref="company_info">Company Information</a></li>
          <li><a ui-sref="projectCostDetails">Project Cost </a></li>
           <li><a ui-sref="invoice">Invoice</a></li>
         <li><a ui-sref="customer_payment">Receipt</a></li>
                 <!--   <li><a ui-sref="">Bank Reconcile</a></li>  -->
          </ul>
        </li>
          <li ng-show="manageCustomer" ng-class="{ active: isActive('/customerDetails')}"><a ui-sref="customerDetails">Customer Details</a></li>
     <li ng-show="manageProject" ng-class="{ active: isActive('/project')}"><a ui-sref="project">Project Details</a></li>
        <li ng-show="manageTeam" ng-class="{ active: isActive('/teamAssignment')}"><a ui-sref="teamAssignment">Team Assignment</a></li>
         <li ng-show="manageEmployees" ng-class="{ active: isActive('/employeeMaster')}"><a ui-sref="employeeMaster">Employee Master</a></li>
       <li ng-class="{ active: isActive('/reports')}"><a class="dropdown-toggle" data-toggle="dropdown"> Reports<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ui-sref="individualreport" >Individual Reports</a></li>
            <li><a ui-sref="teamreport">Team Reports</a></li>
          </ul>
        </li>
        </ul>      
    </div>
    <section class="jtr">
		<span class="cp" onclick="show_hide()">
		<img class="opt" style="height: 50px; width: 50px; border-radius: 50%;" src="images/user.jpg"></img></span> 
		<section id="acc_opt">
		<span ng-model="name">{{name}}</span>
		<a ui-sref="account">Account</a>
		<a ng-click="logout();">Logout</a>
		</section></section>
  </div>
</nav>
<div class="container" style="margin-top: 6%;"><div class="row"><div class="col-xs-12 col-md-12"><h2 class="text-center">Issue Cheque</h2></div></div></div>
<div class="container" style="width: 100%;">
<div class="divpc-form" style="word-spacing: 38px;">
<form   class="form-inline" role="form" id="issue_cheque" ng-submit="">
    <div ng-init="dates()" class="form-group">
       <input type="text" required class="form-control" ui-date="dateOptions" ui-date-format="dd-mm-yy" ng-model="timesheet.date">
    </div>
    <div class="form-group">
    	<input type="text" placeholder="month" required class="form-control" readonly ng-model="">
    </div>
    <div class="form-group">
    	<select name="select-type" ng-model="" class="form-control" required ng-options="" ng-blur="">
		    <option disabled selected>-Expense Description-</option>
		    <option value="others">others</option>
		    <option value="">read</option>
	    </select>
    </div>
    <div class="form-group otherexpense" style="display: none;">
    	<input type="text" placeholder="Others" required class="form-control" ng-model="">
    </div>
	<div class="form-group">
    	<input type="text" placeholder="Amount" required class="form-control" ng-model="">
    </div> 
    <div class="form-group">
    	<input type="text" placeholder="Pay" required class="form-control" ng-model="">
    </div>
    <div class="form-group">
    	<input type="text" placeholder="Notes" required class="form-control" ng-model="">
    </div>
    <div class="form-group">
    	<input type="text" placeholder="Cheque Number" required class="form-control" ng-model="">
    </div>
    <div class="form-group">
    	<input type="text" placeholder="Cheque Date" required class="form-control" ng-model="">
    </div>
    <div class="form-group">
    	<input type="text" placeholder="Bank Name" required class="form-control" ng-model="">
    </div>
    <div class="form-group" style="word-spacing: 10px;">
    	<button type="submit" class="btn btn-primary">Add</button>
    	<button type="submit" class="btn btn-primary">Clear</button>
    </div>
  </form>
  </div>
</div>
</div>
<div class="container" style="width: 100%;">
<div class="row">
<div class="col-sm-6 len_show" style="padding: 20px;">
<span>Show
<select ng-model="numPerPage" >
<option>15</option>
<option>25</option>
<option>35</option>
<option>50</option>
</select> Entries</span></div>
<div class="col-sm-6 search-tab"> 
	       <input type="text" id="search" required class="form-control" ng-change="filter()" ng-model="search" placeholder="Search"></input>
</div>
</div>
<table class="table">
	<thead class="thead-mit-ts">
		<tr>
			<th>Date</th>
			<th>Month</th>
			<th>Expense Desp</th>
			<th>Amount</th>
			<th>Pay</th>
			<th>Notes</th>
			<th>Cheque No</th>
			<th>Cheque Date</th>
			<th>Bank Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="sheet in filteredParticipantsResults=(employeeEntryList | filter:search) | startFrom:(currentPage-1)*numPerPage | limitTo:numPerPage">
			<td>
			   <span ng-show=""></span>
				<span ng-show=""><input class="form-control" ng-model="" style="color: #777777;">
				</span>
			</td>
			<td>
			   <span ng-show=""></span>
				<span ng-show=""><input class="form-control" ng-model="" style="color: #777777;">
				</span>
			</td>
			<td>
			   <span ng-show=""></span>
				<span ng-show=""><input class="form-control" ng-model="" style="color: #777777;">
				</span>
			</td>
			<td>
			   <span ng-show=""></span>
				<span ng-show=""><input class="form-control" ng-model="" style="color: #777777;">
				</span>
			</td>
			<td>
			   <span ng-show=""></span>
				<span ng-show=""><input class="form-control" ng-model="" style="color: #777777;">
				</span>
			</td>
			<td>
			   <span ng-show=""></span>
				<span ng-show=""><input class="form-control" ng-model="" style="color: #777777;">
				</span>
			</td>
			<td>
			   <span ng-show=""></span>
				<span ng-show=""><input class="form-control" ng-model="" style="color: #777777;">
				</span>
			</td>
			<td>
			   <span ng-show=""></span>
				<span ng-show=""><input class="form-control" ng-model="" style="color: #777777;">
				</span>
			</td>
			<td>
			   <span ng-show=""></span>
				<span ng-show=""><input class="form-control" ng-model="" style="color: #777777;">
				</span>
			</td>
			<td></td>
		</tr>
	</tbody>
</table>
<button class="btn btn-primary" ng-click="calculateAndUpdateExp()">Update Experience</button>
<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="numPerPage" class="pagination-sm" boundary-links="true"></pagination>
</div>
 <div class="alert-msg col-xs-12 col-sm-6"><p class="alert-success"></p></div>
 <div class="alert-msg1 col-xs-12 col-sm-6"><p class="alert-danger"></p></div>