<div ng-init="list()">

<div class="container" style="margin-top: 5%;"><div class="row"><div class="col-xs-12 col-md-12"><h2 class="text-center">Leave Entry</h2></div></div></div>
<div class="container" style="width: 100%;">
<div class="leave-form-div">
<form class="form-inline" role="form" id="leaveEntry" ng-submit="insertLeaveEntry(fromDate,toDate,reason)">		

	<div class="form-group">
    <select  class="form-control" required ng-model="employee" ng-options="item as item.name for item in employeeNameList" style="color: #777777; width: 200px;">
    <option value="">Employee Name</option>
    </select> 
    </div>
	
    <div ng-init="dates()" class="form-group">
       <input type="text" id="fromDate" placeholder="From Date" required class="form-control" ui-date="dateOptionsFrom" ng-change="fromdatechange(fromDate)" ui-date-format="dd-mm-yy" ng-model="fromDate">
    </div> 
    
    <div ng-init="dates()" class="form-group">
       <input type="text" placeholder="To Date" required class="form-control" ui-date="dateOptionsTo" ui-date-format="dd-mm-yy" ng-model="toDate">
    </div> 
    
    <div class="form-group">
      <textarea rows="1" cols="30" class="form-control" ng-model="reason" placeholder="Reason"></textarea>
    </div>
        
	<div class="form-group btn-formproject">
	<button type="submit" class="btn btn-primary">Add</button>
	<button type="reset" style="margin-left: 10px;"  class="btn btn-primary">Clear</button>
	</div>
	</form>
</div>
</div>
<div  class="container" style="width: 100%;">
<div class="row len_show" style="padding: 20px;">
<span>Show
<select ng-model="numPerPage" >
<option>15</option>
<option>25</option>
<option>35</option>
<option>50</option>
</select> Entries</span>
<div class="col-sm-6 search-tab"> 
	       <input type="text" id="search" required class="form-control" ng-change="filter()" ng-model="search" placeholder="Search"></input>
</div></div>
<table class="table" style="">
	<thead class="thead-mit-ts" >
		<tr>
			<th class="">Employee Name</th>
			<th class="">From Date</th>
			<th class="">To Date</th>
		    <th class="">Reason</th>
		    <th class="">No of days</th>
		    <th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="sheet in filteredParticipantsResults=(leaveEntryList | filter:search) | startFrom:(currentPage-1)*numPerPage | limitTo:numPerPage"">
			<td>
				<span ng-show="!showEdit">{{sheet.employee.name}}</span>
				<span ng-show="showEdit">
				<select  class="form-control" required ng-model="sheet.employee" ng-options="item as item.name for item in employeeNameList" style="color: #777777;">
    			<option value="">{{sheet.employee.name}}</option>
    			</select> 
				</span>
				<span style="color:red" ng-show="sheet.employee.name == '' || sheet.employee.name == undefined">Required</span>
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.frmEntryDate}}</span>
				<span ng-show="showEdit"><input class="form-control" ui-date="dateOptionsFrom" ui-date-format="dd-mm-yy" type="text" ng-model="sheet.frmEntryDate"></span>
				<span style="color:red" ng-show="sheet.frmEntryDate == '' || sheet.frmEntryDate == undefined">Required</span>
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.toEntryDate}}</span>
				<span ng-show="showEdit"><input class="form-control" ui-date="dateOptionsTo" ui-date-format="dd-mm-yy" type="text" ng-model="sheet.toEntryDate"></span>
				<span style="color:red" ng-show="sheet.toEntryDate == '' || sheet.toEntryDate == undefined">Required</span>
			</td>
			<td >
				<span ng-show="!showEdit">{{sheet.reason}}</span>
				<span ng-show="showEdit"><textarea rows="1" class="form-control" type="text" ng-model="sheet.reason"></textarea></span>
			</td>
			<td>
			<span ng-show="!showEdit">{{sheet.noOfDays}}</span>
				<span ng-show="showEdit"><input class="form-control" type="text" ng-model="sheet.noOfDays" readonly></span>
			</td>
			<td style="word-spacing: 15px;">
				<a><span class="glyphicon glyphicon-pencil" ng-click="showEdit = !showEdit" ng-show="!showEdit"></span></a>
				<a><span class="glyphicon glyphicon-remove" ng-click="confirmDelete(sheet.id)" ng-show="!showEdit"></span></a>
				<a><span class="glyphicon glyphicon-ok" ng-click="showEdit = !showEdit;updateLeaveEntry(sheet)" ng-show="showEdit" ng-disabled="checkRequired(sheet);"></span></a>
				<a><span class="glyphicon glyphicon-ban-circle" ng-click="showEdit = !showEdit" ng-show="showEdit"></span></a>
			</td>
		</tr>
	</tbody>
</table>

<pagination  total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="numPerPage" class="pagination-sm" boundary-links="true"></pagination>
</div>
<div class="alert-msg col-xs-12 col-sm-6"><p class="alert-success"></p></div>
<div class="alert-msg1 col-xs-12 col-sm-6"><p class="alert-danger"></p></div>
 </div>