<div ng-init="list()">
<div class="container" style="margin-top: 8%;"><div class="row"><div class="col-xs-12 col-md-12"><h2 class="text-center">LOB Master</h2></div></div></div>
<div class="container" style="width: 100%;">
<div class="teamassgn-form-div">
<form class="form-inline project-form" role="form" id="addEntry" ng-submit="insert()">		

	<div class="form-group"> 
	
	   <input type="text" class="form-control" ng-model="lobName" placeholder="lobName">
    <!-- <select id="lob" class="form-control" required ng-model="Lob" ng-options="item as item.lobName for item in lobList" style="color: #777777;">
    <option value="">LobList</option>
    </select>  -->
    </div>
    
    <div class="form-group">
      <textarea rows="2" cols="30" required class="form-control" ng-model="skills" placeholder="Skills"></textarea>
    </div>

	<div class="form-group btn-formproject">
	<button type="submit" class="btn btn-primary">Add</button>
	<button type="reset" style="margin-left: 10px;"  class="btn btn-primary">Clear</button>
	</div>
	</form>
</div>
</div>
<div  class="container" style="width: 100%;">
<div class="table-responsive">
<div class="row">
<div class="col-sm-6 len_show" style="padding: 20px;">
<span>Show
<select ng-model="numPerPage" >
<option>15</option>
<option>25</option>
<option>35</option>
<option>50</option>
</select> Entries</span></div>
<div class="col-sm-6 search-tab"> 
	       <input type="text" id="search" required class="form-control" ng-change="filter()" ng-model="search" placeholder="Search"></input>
</div>
</div>
<table class="table" style="">
	<thead class="thead-mit-ts">
		<tr>
			<th class="">Lob Name</th>
			<th class="">Skills</th>
			 <th></th>
		</tr>
	</thead>
	<tbody>
				<tr ng-repeat="sheet in lobLists | startFrom:(currentPage-1)*numPerPage | limitTo:numPerPage">
			<td >
				<span ng-show="!showEdit">{{sheet.lobName}}</span>
				<span ng-show="showEdit" >
				 <input type="text" class="form-control" ng-model="sheet.lobName" placeholder="lobName">
    			</select> 
				</span>
				<span style="color:red" ng-show="sheet.lobName == '' || sheet.lobName== undefined">Required</span>
			</td>
			
			<td >
				<span ng-show="!showEdit">{{sheet.skills}}</span>
				<span ng-show="showEdit"><textarea rows="1" class="form-control" type="text" ng-model="sheet.skills"></textarea></span>
				<!-- <span style="color:red" ng-show="sheet.skills == '' || sheet.skills == undefined">Required</span> -->
			</td>
			
			<td style="word-spacing: 15px;">	
			    
				<a><span class="glyphicon glyphicon-pencil" ng-click="showEdit = !showEdit;pencilClick(sheet)" ng-show="!showEdit"></span></a>
				<a><span class="glyphicon glyphicon-remove" ng-click="confirmDelete(sheet.id)" ng-show="!showEdit"></span></a>
				<a><span class="glyphicon glyphicon-ok" ng-click="showEdit = !showEdit;Update(sheet)" ng-show="showEdit" ng-disabled="checkRequired(sheet);"></span></a> 
				<a><span class="glyphicon glyphicon-ban-circle" ng-click="showEdit = !showEdit;cancel(sheet)" ng-show="showEdit"></span></a> 			
			</td>
		</tr>
	</tbody>
</table>

<pagination data-num-pages="noOfPages" total-items="totalItems" ng-model="currentPage" max-size="maxSize" data-current-page="currentPage" items-per-page="numPerPage" class="pagination-sm" boundary-links="true"></pagination>
</div>
</div>
<div class="alert-msg col-xs-12 col-sm-6"><p class="alert-success"></p></div>
<div class="alert-msg1 col-xs-12 col-sm-6"><p class="alert-danger"></p></div>
 </div>