
<div ng-init="list()">
<!-- <div class="top-fixed">
<div class="logo"><img src="images/mt1.png"></div>
<h2>Project Details</h2>
<button class="btn btn-sm btn-primary btn-logout" ng-click="logout();">Logout</button>
<lable class="lb-username" ng-model="name">Welcome {{name}}</lable>
</div> -->

<!-- For testing  -->
<nav class="navbar navbar-inverse navbar-fixed-top" style="border-bottom: 1px solid gray; background: none;">
  <div class="container-fluid" style="max-width: 100%; background: grey; color: white;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="logo"><img src="images/mit_lg-ts.jpg"></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" ng-controller="HeaderController">
      <ul class="nav navbar-nav" style="margin-left: 30px; margin-top: 8px;">
        <li ng-class="{ active: isActive('/timesheet')}"><a ui-sref="timesheet">Home</a></li>
        <li ng-show="manageProject" ng-class="{ active: isActive('/project')}"><a ui-sref="project">Project Details</a></li>
        <li ng-show="manageTeam" ng-class="{ active: isActive('/projectmapping')}"><a ui-sref="projectmapping">Team Assignment</a></li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="lb-username"><lable ng-model="name">Welcome {{name}}</lable></li>
        <li><a style="padding-left: 0;" ui-sref="account"><button class="btn btn-sm btn-primary">Account</button></a></li>
        <li><button class="btn btn-sm btn-primary btn-logout" ng-click="logout();">Logout</button></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 8%;"><div class="row"><div class="col-xs-12 col-md-12"><h2>Project Details</h2></div></div></div>

<div class="container" style="width: 100%;">
<div class="row">
<div class="col-xs-12 col-lg-12">
<div class="project-form-div">
<form class="form-inline project-form" role="form" id="addEntry" ng-submit="addproject(projectname,customername,billable)">		

	<div class="form-group">
       <input type="text" id="name" required class="form-control"  ng-model="project.projectname" placeholder="Project Name">
    </div>
	<div class="form-group">
       <input type="text" required id="customer" class="form-control" ng-model="project.customername" onkeypress="return ValidateAlpha(event)" placeholder="Customer">
    </div>
    <div class="form-group" style="word-spacing: 0;">
    <span for="dropdown"  style="font-size: 20px;">Billable</span>
    <select class="form-control" required ng-model="project.billable">
	<option>Yes</option>
	<option>No</option>
	</select>
	</div>
	<div class="form-group btn-formproject">
	<button type="submit" class="btn btn-primary">Add</button>
	<button type="reset" style="margin-left: 10px;"  class="btn btn-primary">Clear</button>
	</div>
	</form>
</div>
</div>
</div>
</div>
<div class="container" style="width: 100%;">
<table class="table">
	<thead class="thead-mit-ts" >
		<tr>
			<th class="">Project Name</th>
			<th class="">Customer</th>
			<th class="">Billable</th>
		    <th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="sheet in filteredParticipantsResults">
			<td >
				<span ng-show="!showEdit">{{sheet.projectName}}</span>
				<span ng-show="showEdit" ><input class="form-control" id={{sheet.projectId}} type="text" ng-model="sheet.projectName"  ng-blur="onBlur(sheet.projectId)"></span>
				<span style="color:red" ng-show="sheet.projectName == '' || sheet.projectName == undefined">Required</span>
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.customerName}}</span>
				<span ng-show="showEdit"><input class="form-control" id={{sheet.projectName}} type="text" ng-model="sheet.customerName" onkeypress="return ValidateAlpha(event)" ng-blur="onblur(sheet.projectName)"></span>
				<span style="color:red" ng-show="sheet.customerName == '' || sheet.customerName == undefined">Required</span>
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.billable}}</span>
				<span ng-show="showEdit">
				<select style="margin-top: 7px;" ng-model="sheet.billable">
    			<option>Yes</option>
				<option>No</option>
				</select></span>
				<span style="color: red" ng-show="sheet.billable == '' || sheet.billable == undefined">Required</span>
			</td>
			<td style="word-spacing: 15px;">
				<image src="images/pencil.png" ng-click="showEdit = !showEdit" ng-show="!showEdit"></image>
				<image src="images/delete.png" ng-click="confirmDelete(sheet.projectId)" ng-show="!showEdit"></image>
				<image src="images/save-icon.png" ng-click="showEdit = !showEdit;updateproject(sheet)" ng-show="showEdit" ng-disabled="check(sheet);"></image>
				<image src="images/cancel.jpg" ng-click="showEdit = !showEdit" ng-show="showEdit"></image>
			</td>
		</tr>
	</tbody>
</table>

<pagination  total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="numPerPage" class="pagination-sm" boundary-links="true"></pagination>
</div>
<div class="alert-msg col-xs-12 col-sm-6"><p class="alert-success"></p></div>
 <div class="alert-msg1 col-xs-12 col-sm-6"><p class="alert-danger"></p></div>
 </div>