
<div ng-init="list()">
<!-- <div class="top-fixed">
<div class="logo"><img src="images/mt1.png"></div>
<h2>Project Mapping</h2>
<button class="btn btn-sm btn-primary btn-logout" ng-click="logout();">Logout</button>
<lable class="lb-username" ng-model="name">Welcome {{name}}</lable>
</div> -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid top-header-fixed">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="logo"><img src="images/logo2.png"></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" ng-controller="HeaderController">
       <ul class="nav navbar-nav" style="margin-left: 30px; margin-top: 8px;">
         <li ng-class="{ active: isActive('/timesheet')}"><a ui-sref="timesheet">Home</a></li>
         <li ng-show="manageFinance" ng-class="{ active: isActive('/finance')}"><a class="dropdown-toggle" data-toggle="dropdown"> Finance<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ui-sref="levelMaster">Monthly Revenue Projection</a></li>
           <li><a ui-sref="company_info">Company Information</a></li>
          <li><a ui-sref="projectCostDetails">Project Cost </a></li>
            <li><a ui-sref="invoice">Invoice</a></li>
           <li><a ui-sref="customer_payment">Receipt</a></li>
                 <!--   <li><a ui-sref="">Bank Reconcile</a></li>  -->
          </ul>
        </li>
          <li ng-show="manageProject" ng-class="{ active: isActive('/projects')}"><a class="dropdown-toggle" data-toggle="dropdown"> Project<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ui-sref="customerDetails">Customer Details</a></li>
            <li><a ui-sref="project">Project Details</a></li>
          </ul>
        </li>
        <li ng-show="manageTeam" ng-class="{ active: isActive('/teamAssignment')}"><a ui-sref="teamAssignment">Team Assignment</a></li>
          <li ng-show="manageEmployees" ng-class="{ active: isActive('/HR')}"><a class="dropdown-toggle" data-toggle="dropdown"> HR<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ui-sref="employeeMaster">Employee Master</a></li>
            </ul>
            </li>
        <li ng-class="{ active: isActive('/reports')}"><a class="dropdown-toggle" data-toggle="dropdown"> Reports<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ui-sref="individualreport" >Individual Reports</a></li>
            <li><a ui-sref="teamreport">Team Reports</a></li>
          </ul>
        </li>
        </ul>
 
    </div>
    <section class="jtr">
		<span class="cp" onclick="show_hide()">
		<img class="opt" style="height: 50px; width: 50px; border-radius: 50%;" src="images/user.jpg"></img></span> 
		<section id="acc_opt">
		<span ng-model="name">{{name}}</span>
		<a ui-sref="account">Account</a>
		<a ng-click="logout();">Logout</a>
		</section></section>
  </div>
</nav>

<div class="container" style="margin-top: 6%;"><div class="row"><div class="col-xs-12 col-md-12"><h2 class="text-center">Invoice</h2></div></div></div>


<form class="" role="form" ng-submit="insert()">
<div class="container" style="width: 100%;">
	<div class="form-invoice form-horizontal">
	<div class="row">
	<div class="col-sm-6">
    <div class="form-group">
      <label class="control-label col-sm-4 textleft" for="">Customer Name<span>:</span></label>
      <div class="col-sm-8">
        <select  class="form-control empdet-form" ng-model="invoice.customer"  ng-options="item as item.customerName for item in customerList" required style="color: #777777;" ng-change="loadProjects()">
 	    <option value="">Customer Name</option>
 		</select> 
	    
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4 textleft" >Project<span>:</span></label>
      <div class="col-sm-8">          
        <select  class="form-control empdet-form"  ng-model="invoice.projectlist" ng-options="option as option.projectName for option in projectList" ng-change="projectBasedSelections(invoice.projectlist);" required style="color: #777777;">
	    <option value="" ng-selected="true">Project</option>
		</select> 
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4 textleft">Project Type<span>:</span></label>
      <div class="col-sm-8">   
       <input type="text" class="form-control" ng-disabled="true" ng-model="invoice.projectType"  placeholder="">       	
      </div>
    </div>
    </div>
    
    <div class="col-sm-6">
    <div ng-init="dates()" class="form-group">
      <label class="control-label col-sm-4 textleft" for="">Invoice Date<span>:</span></label>
      <div class="col-sm-8">
       <input type="text" required class="form-control empdet-form" ng-model="invoice.invoicedate" placeholder="Invoice Date" ui-date="dateOptions" ui-date-format="dd-mm-yy" ng-model="invoice.date">
       </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-4 textleft">Invoice No<span>:</span></label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" readonly ng-model="invoice.invoiceno"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4 textleft">Invoice Amount<span>:</span></label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" ng-model="invoice.invoiceamt"  onkeypress="return isNumber(event)" id="" placeholder="" required ng-blur="sumCost()">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4 textleft">Currency<span>:</span></label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" ng-model="invoice.currency" id="" placeholder="" readonly>
      </div>
    </div>
    </div>
    
    <div class="col-xs-12">
    
	<div class=" form-inline" style="word-spacing: 30px; margin-top: 20px;">
    <div ng-init="dates()" class="form-group" style="">
       <input type="text" class="form-control"  placeholder="From Date" ui-date="dateOptions" ui-date-format="dd-mm-yy" ng-model="member.fromdate">
    </div>
    <div ng-init="dates()" class="form-group" style="">
       <input type="text" class="form-control" placeholder="To Date" ui-date="dateOptions" ui-date-format="dd-mm-yy" ng-model="member.todate">
    </div>
    <div class="form-group">
    <textarea rows="1" class="form-control" ng-model="member.description" placeholder="Description"></textarea>
    </div>
    <div class="form-group">

       <select  class="form-control" style="color: #777777;" ng-model="member.teamlist" ng-options="item as item.member.name for item in invoice.teammembers"  style="color: #777777;">
	    <option value="" ng-selected="true">Team Members</option>
		</select>
    </div>
     <div class="form-group">
       <input class="form-control" id="rateperhour"  onkeypress="return isNumber(event)"  ng-change="amountCalForinsert()"  ng-model="member.rateperhour" placeholder="Rate">
    </div>
    <div class="form-group">
       <input class="form-control" id="billablehour"  onkeypress="return isNumber(event)" ng-change="amountCalForinsert()"  ng-model="member.billablehours" placeholder="Billable hours">
    </div>
    <div class="form-group">
 
       <input class="form-control" ng-model="member.amount" onkeypress="return isNumber(event)" placeholder="Amount">
    </div>
    
    <div class="form-group">        
      <div class=" col-sm-12" style="word-spacing: 10px;">
	    <input type="button" id="addentry" value="Add" ng-click="addTeamMember()" class="btn btn-primary btn-sm "  />
      </div>
    </div>
        </div>
        </div>
    <div class="container" style="width: 100%;">
    
     <table class="table" style="">
	<thead class="thead-mit-ts">
		<tr>
			<th class="">From Date</th>
			<th class="">To Date</th>
			<th class="">Description</th>
			<th class="">Team Members</th>
			<th class="">Rate Per Hour</th>
			<th class="">Billable Hours</th>
			<th class="">Amount</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		<tr ng-repeat="sheet in invoiceList">
			
			<td>

				<span ng-show="!showEdit">{{sheet.fromdate}}</span>
				<span ng-show="showEdit"><input class="form-control" ui-date="dateOptions" ui-date-format="dd-mm-yy" type="text" ng-model="sheet.fromdate" ></span>
				<span style="color:red" ng-show="sheet.fromdate == '' || sheet.fromdate == undefined">Required</span> 
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.todate}}</span>
				<span ng-show="showEdit"><input class="form-control" ui-date="dateOptions" ui-date-format="dd-mm-yy" type="text" ng-model="sheet.todate"></span>
				<span style="color:red" ng-show="sheet.todate == '' || sheet.todate == undefined">Required</span>
			</td>
			
			<td >
				<span ng-show="!showEdit">{{sheet.description}}</span>
				<span ng-show="showEdit"><textarea rows="1" class="form-control" type="text" ng-model="sheet.description"></textarea></span>
				<span style="color:red" ng-show="sheet.description == '' || sheet.description == undefined">Required</span>
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.teammember}}</span>
				<span id="{{sheet.employee.id}}" ng-show="showEdit"><select class="form-control" ng-model="sheet.teammember" ng-options="item.member.name as item.member.name for item in invoice.teammembers" style="color: #777777;">
				<option value="">Team Members</option>
				</select> 
				</span>
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.rateperhour}}</span>
				<span id="{{sheet.id}}" ng-show="showEdit"><input class="form-control" id="{{sheet.id}}" type="text" onkeypress="return isNumber(event)" ng-change="amountCalForUpdate(sheet)" ng-model="sheet.rateperhour"></span>
			<!-- 	<span style="color:red" ng-show="sheet.rateperhour == '' || sheet.rateperhour == undefined">Required</span> -->
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.billablehours}}</span>
				<span id="{{sheet.id}}" ng-show="showEdit"><input class="form-control" id="{{sheet.id}}" type="text" onkeypress="return isNumber(event)" ng-change="amountCalForUpdate(sheet)" ng-model="sheet.billablehours"></span>
			<!-- 	<span style="color:red" ng-show="sheet.billablehours == '' || sheet.billablehours == undefined">Required</span> -->
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.amount}}</span>
				<span id="{{sheet.id}}" ng-show="showEdit"><input class="form-control" id="{{sheet.id}}" type="text" onkeypress="return isNumber(event)" ng-model="sheet.amount"></span>
				<!-- <span style="color:red" ng-show="sheet.amount == '' || sheet.amount == undefined">Required</span> -->
			</td>
			
			<td style="word-spacing: 15px;">

	            <a><span class="glyphicon glyphicon-pencil" ng-click="showEdit = !showEdit" ng-show="!showEdit"></span></a>
				<a><span class="glyphicon glyphicon-remove" ng-click="deleteteammembers(sheet)" ng-show="!showEdit"></span></a>
				<a><span class="glyphicon glyphicon-ok" ng-click="showEdit = !showEdit;updateteammembers(sheet)" ng-show="showEdit" ng-disabled="checkRequired(sheet);"></span></a> 
				<a><span class="glyphicon glyphicon-ban-circle" ng-click="showEdit = !showEdit;teammemberslist()" ng-show="showEdit"></span></a> 			
			</td>
		</tr>
	</tbody>
</table>
     	
    </div>

    
   
    
    
    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="numPerPage" class="pagination-sm" boundary-links="true"></pagination>
    </div>
    </div>
 	 <div class="text-center">
 	 <input type="submit" class="btn btn-primary btn-sm" value="Submit"/>
	</div>

</div>
</form>
<div class="alert-msg col-xs-12 col-sm-6"><p class="alert-success"></p></div>
 <div class="alert-msg1 col-xs-12 col-sm-6"><p class="alert-danger"></p></div>

 </div>