
<div>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid top-header-fixed">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="logo"><img src="images/logo2.png"></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" ng-controller="HeaderController">
      <ul class="nav navbar-nav" style="margin-left: 30px; margin-top: 8px;">
        <li ng-class="{ active: isActive('/timesheet')}"><a ui-sref="timesheet">Home</a></li>
         <li ng-show="manageFinance" ng-class="{ active: isActive('/finance')}"><a class="dropdown-toggle" data-toggle="dropdown"> Finance<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ui-sref="levelMaster">Monthly Revenue Projection</a></li>
           <li><a ui-sref="company_info">Company Information</a></li>
        <li><a ui-sref="projectCostDetails">Project Cost </a></li>
           <li><a ui-sref="invoice">Invoice</a></li>
        <li><a ui-sref="customer_payment">Receipt</a></li>
                 <!--   <li><a ui-sref="">Bank Reconcile</a></li>  -->
          </ul>
        </li>
          <li ng-show="manageCustomer" ng-class="{ active: isActive('/customerDetails')}"><a ui-sref="customerDetails">Customer Details</a></li>
     <li ng-show="manageProject" ng-class="{ active: isActive('/project')}"><a ui-sref="project">Project Details</a></li>
        <li ng-show="manageTeam" ng-class="{ active: isActive('/teamAssignment')}"><a ui-sref="teamAssignment">Team Assignment</a></li>
         <li ng-show="manageEmployees" ng-class="{ active: isActive('/employeeMaster')}"><a ui-sref="employeeMaster">Employee Master</a></li>
        <li ng-class="{ active: isActive('/reports')}"><a class="dropdown-toggle" data-toggle="dropdown"> Reports<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ui-sref="individualreport">Individual Reports</a></li>
            <li><a ui-sref="teamreport">Team Reports</a></li>
          </ul>
        </li>
        </ul>
      </div>
      <section class="jtr">
		<span class="cp" onclick="show_hide()">
		<img class="opt" style="height: 50px; width: 50px; border-radius: 50%;" src="images/user.jpg"></img></span> 
		<section id="acc_opt">
		<span ng-model="name">{{name}}</span>
		<a ui-sref="account">Account</a>
		<a ng-click="logout();">Logout</a>
		</section></section>
  </div>
</nav>

<div class="container" style="margin-top: 8%;"><div class="row"><div class="col-xs-12 col-md-12"><h2 class="text-center">Team Assignment</h2></div></div></div>
<div class="container" style="width: 100%;">
<div class="teamassgn-form-div">
<form class="form-inline project-form" role="form" id="addEntry" ng-submit="validateAssignment()">		

	<div class="form-group">
    <select id="project" class="form-control" required ng-model="project" ng-options="item as item.projectName for item in projectlist" style="color: #777777;">
    <option value="">Project</option>
    </select> 
    </div>
	
    <div class="form-group">
    <select id="member" class="form-control" required ng-model="member" ng-options="item as item.name for item in memberlist"  style="color: #777777;">
    <option value="">Members</option>
    </select> 
    </div>
    
    <div class="form-group">
    <select id="role" class="form-control" required ng-model="role" ng-options="item as item.roleName for item in rolelist" style="color: #777777;">
    <option value="">Role</option>
    </select> 
    </div>
	<div class="form-group btn-formproject">
	<button type="submit" class="btn btn-primary">Add</button>
	<button type="reset" style="margin-left: 10px;"  class="btn btn-primary">Clear</button>
	</div>
	</form>
</div>
</div>
<div  class="container" style="width: 100%;">
<div class="table-responsive">
<div class="row">
<div class="col-sm-6 len_show" style="padding: 20px;">
<span>Show
<select ng-model="numPerPage" >
<option>15</option>
<option>25</option>
<option>35</option>
<option>50</option>
</select> Entries</span></div>
<div class="col-sm-6 search-tab"> 
	       <input type="text" id="search" required class="form-control" ng-change="filter()" ng-model="search" placeholder="Search"></input>
</div>
</div>
<table class="table" style="">
	<thead class="thead-mit-ts">
		<tr>
			<th class="">Project Name</th>
			<th class="">Team Members</th>
			<th class="">Role</th>
		    <th></th>
		</tr>
	</thead>
	<tbody>
				<tr ng-repeat="sheet in filteredParticipantsResults=(teamLists | filter:search) | startFrom:(currentPage-1)*numPerPage | limitTo:numPerPage">
			<td >
				<span ng-show="!showEdit">{{sheet.project.projectName}}</span>
				<span ng-show="showEdit" >
				<select  class="form-control" required ng-model="sheet.project" ng-options="item as item.projectName for item in projectlist" ng-change="projectChange()" style="color: #777777;">
    			<option value="">{{sheet.project.projectName}}</option>
    			</select> 
				</span>
				<span style="color:red" ng-show="sheet.project.projectName == '' || sheet.project.projectName == undefined">Required</span>
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.member.name}}</span>
				<span ng-show="showEdit">
				<select  class="form-control" required ng-model="sheet.member" ng-options="item as item.name for item in memberlist" ng-change="memberChange()" style="color: #777777;">
    			<option value="">{{sheet.member.name}}</option>
    			</select> 
				</span>
				<span style="color:red" ng-show="sheet.member.name == '' || sheet.member.name == undefined">Required</span>
			</td>
			<td>
				<span ng-show="!showEdit">{{sheet.role.roleName}}</span>
				<span ng-show="showEdit">
				<select  class="form-control" required ng-model="sheet.role" ng-options="item as item.roleName for item in rolelist" ng-change="roleChange()" style="color: #777777;">
    			<option value="">{{sheet.role.roleName}}</option>
				</select> 
				</span>
				<span style="color: red" ng-show="sheet.role.roleName == '' || sheet.role.roleName == undefined">Required</span>
			</td>
			<td style="word-spacing: 15px;">	
			    
				<a><span class="glyphicon glyphicon-pencil" ng-click="showEdit = !showEdit" ng-show="!showEdit"></span></a>
				<a><span class="glyphicon glyphicon-remove" ng-click="confirmDelete(sheet.id)" ng-show="!showEdit"></span></a>
				<a><span class="glyphicon glyphicon-ok" ng-click="showEdit = !showEdit;validateUpdate(sheet)" ng-show="showEdit" ng-disabled="checkRequired(sheet);"></span></a> 
				<a><span class="glyphicon glyphicon-ban-circle" ng-click="showEdit = !showEdit" ng-show="showEdit"></span></a> 			
			</td>
		</tr>
	</tbody>
</table>

<pagination data-num-pages="noOfPages" total-items="totalItems" ng-model="currentPage" max-size="maxSize" data-current-page="currentPage" items-per-page="numPerPage" class="pagination-sm" boundary-links="true"></pagination>
</div>
</div>
<div class="alert-msg col-xs-12 col-sm-6"><p class="alert-success"></p></div>
<div class="alert-msg1 col-xs-12 col-sm-6"><p class="alert-danger"></p></div>
 </div>